{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% if username %}
<p>Logged in as {{ username }}</p>
{% endif %}
<div class="form">
    <p>Change username:</p>
    <form action="/edit_user_name" method="POST">
        <p>New username:<br>
            <input type="text" name="username">
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Change">
    </form>
</div>

<div class="form">
    <p>Change password:</p>
    <form action="/edit_user_password" method="POST">
        <p>New password:<br>
            <input type="text" name="password">
        </p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Change">
    </form>
</div>

<div class="flex-container form">
    <div class="change-picture">
        <p>Change profile picture:</p>
        <form action="/picture" method="POST" enctype="multipart/form-data">
            <p>File:<br>
                <input type="file" name="file">
            </p>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Change">
        </form>
    </div>

    <div class="img_container">
        <img src="/image/{{userid}}" style="width:128px;height:128px;" onError="this.src ='/static/images/default.jpg'">
    </div>
</div>



{% endblock %}