{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block public %}
<form name="register" action="/register" method="POST">
    <p>Username:<br>
        <input type="text" name="username" required>
    </p>
    <p>Password:<br>
        <input type="password" name="password1" minlength="8" required>
    </p>
    <p>Password again:<br>
        <input type="password" name="password2" minlength="8" required>
    </p>
    <input type="submit" value="Create user">
</form>
{% endblock %}