{% extends "layout.html" %}
{% block title %}Reviews{% endblock %}

{% block content %}
<form action="/review" method="POST">
    <h3>Add review:</h3>
    <p>Title:<br>
        <input type="text" name="title" required>
    </p>
    <p>Review:<br></p>
    <textarea name="review" required></textarea>
    <p>Stars:<br>
        <input type="number" name="stars" min="1" max="5" required>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Create review">
</form>
{% endblock %}

{% block public %}
{% for review in reviews %}
<div class="flex-container-column">
    <div class="review">
        <div class="flex-container">
            <div class="left">
                <b>Film:</b> {{ review[3] }}
            </div>
            <div class="right">
                <b>Stars:</b> {{ review[4] }}
            </div>
        </div>
        <div class="flex-container">
            <div class="left">
                <b>Review:</b> {{ review[5] }}
            </div>
            <div class="right">
                <div class="byUser">
                    <b>By user:</b> {{ review[2] }}
                    <img src="/image/{{ review[1] }}" style="width:128px;height:128px;"
                        onError="this.src ='/static/images/default.jpg'">
                </div>
            </div>
        </div>
        <div class="comments">
            <b>Comments</b>
            {% for comment in comments %}
            {% if comment[2] == review[0] %}
            <br>
            <div class="flex-container-column comment">
                <div class="byUser">
                    <b>User:</b> {{ comment[1] }}
                    <img src="/image/{{ comment[0] }}" style="width:128px;height:128px;"
                        onError="this.src ='/static/images/default.jpg'">
                </div>
                <div>
                    <b>Comment:</b> {{ comment[3] }}
                </div>
            </div>
            {% endif %}

            {% endfor %}
            {% if session.user_id %}
            <form action="/comment" method="POST">
                <p>Add comment:<br></p>
                <textarea name="comment" required></textarea>
                <input name="review_id" type="hidden" value="{{ review[0] }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="Post comment">
            </form>
            {% endif %}           
        </div>
        {% if session.user_id == review[1] %}
            <form action="/delete_review" method="POST">
                <input name="review_id" type="hidden" value="{{ review[0] }}">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" value="Delete review" onclick="return confirm('Are you sure?')" >
            </form>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}