body {
  margin: auto;
  font-family: 'Helvetica', sans-serif;
  color:rgb(34, 34, 34);
  background: rgb(199, 194, 194);
  width: 38%;
  min-width: 25em;
  margin: 0 auto;
  padding-top: 25px;
}

.header {
  background: rgb(76, 141, 98);
  font-weight: bold;
  font-family: 'Impact', monospace;
  padding: 1em 1em;
  font-size: 2em;
  border-radius: 25px;
  border: 2px solid black;
  line-height: 1em;
}

.header .menu {
  width: fit-content;
  padding: 0px;
  border-radius: 25px;
  border: 2px solid black;
}

.header .menu a {
  color:rgb(50, 50, 50);
  border: none;
  background: rgb(76, 141, 98);
  font-family: 'Impact', monospace;
  font-weight: bold;
  font-size: 1em;
  border-radius: 25px;
  border: 2px solid rgb(76, 141, 98);;
  padding: 20px;
  text-decoration: none
}

.header .menu a:hover {
  background: rgb(49, 90, 63);
  color: white;
}

.button {
    display: inline-block;
}

form {
  max-width: 35em;
  grid-template-columns: 5em 10em;
  grid-row-gap: .3em;
  border-radius: 25px;
  border: 2px solid black;
  padding: 20px;
}

input[type="text"] { 
  width: 95%;
  padding:5px;
}
input[type="password"] { 
  width: 95%;
  padding:5px;
}

input[type="submit"] { 
  padding:5px;
  text-align: center;
  background: rgb(76, 141, 98);
}

input[type="submit"]:hover {
  background: rgb(49, 90, 63);
  color: white;
}


.comments {
  padding: 10px;
  border-radius: 25px;
  border: 2px solid black;
}